{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    {% include 'accounts/head.html' %}
</head>

<body>

    <!--offcanvas menu area start-->
    {% include 'accounts/offcanvas.html' %}
    <!--offcanvas menu area end-->

    <!--mini cart-->
    {% include 'accounts/miniCart.html' %}
    <!--mini cart end-->

    <!--header area start-->
    {% include 'accounts/header.html'%}
    <!--header area end-->

    <!--slider area start-->
    {% include 'accounts/slider.html' %}
    <!--slider area end-->

    <!--shipping section start-->
    {% include 'accounts/shipping.html'%}
    <!--shipping section end-->

    <!-- product section start -->
    {% include 'accounts/Product2.html' %}
    <!-- product section end -->

    <!-- banner section start -->
    {% include 'accounts/banner.html'%}
    <!-- banner section end -->

    <!-- product section start -->
    {% include 'accounts/products.html' %}
    <!-- product section end -->

    <!-- banner section start -->
    {% include 'accounts/banner2.html'%}
    <!-- banner section end -->


    <!-- blog section start -->
    {% include 'accounts/sectionBlog.html' %}
    <!-- blog section end -->

    <!--footer area start-->
    {% include 'accounts/footer.html' %}
    <!--footer area end-->

    <!-- modal area start-->
    {% include 'accounts/modal.html' %}
    <!-- modal area end-->


    <!-- JS
============================================ -->

    {% include 'accounts/JsPlugin.html' %}

</body>

</html>
