{% load static %}
<script src="{% static 'assets/js/vendor/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/popper.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollup.min.js' %}"></script>
<script src="{% static 'assets/js/images-loaded.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.js' %}"></script>
<script src="{% static 'assets/js/tippy-bundle.umd.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.instagramFeed.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/mailchimp-ajax.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>

